# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\_\.Homework\Sophomore\.Semester 2\COM S 309 Software Development Practices\.Code\.Tutorials\tutorials-springboot_unit2_2_onetomany\springboot_example\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
